src -BlueJ/
bin/
.classpath
.project
*.prefs
*.log
*.pmd
*.ast
*.jar
*.class
src/java/richbar/com/github/commandplot/command/pipeline/MapChanger.java
src/java/richbar/com/github/commandplot/command/pipeline/MidExecutor.java
src/java/richbar/com/github/commandplot/scoreboard/visible/